<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85870838940-dge40fmcfmbf5u8vo7aiisg304u51chc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85870838940-dge40fmcfmbf5u8vo7aiisg304u51chc</string>
	<key>API_KEY</key>
	<string>AIzaSyBr9J9GCumV7JE_-ff1dZ2z3_F29UbTb4E</string>
	<key>GCM_SENDER_ID</key>
	<string>85870838940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rea.pay.sa.res.pay.merchant</string>
	<key>PROJECT_ID</key>
	<string>res-pay-merchant</string>
	<key>STORAGE_BUCKET</key>
	<string>res-pay-merchant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85870838940:ios:f4d5fb6f68e5fa8bd49959</string>
</dict>
</plist>